

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Tool
              </th>
              <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Category
              </th>
              
              <th scope="col" class="px-6 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Price
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td class="max-w-xs px-6 py-4 whitespace-nowrap">                  
                <div class="w-32 min-w-full ml-4">
                    <div class="text-sm font-medium text-gray-900">
                        <a href="/listings/<%=listing.id %>" class="text-indigo-600 hover:text-indigo-900"><%= listing.title %></a>
                    </div>
                    <div class="text-sm text-gray-500">
                        Owner: <%= listing.lender.full_name %>
                    </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                    <%= listing.category %>
                </div>
              </td>
              
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                $<%= listing.price %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


