
<h1><%= @listing.title %></h1>
<p class="listing-category">Tool Owner: <%= @listing.lender.full_name %></p>
<p class="listing-category">Category: <%= @listing.category %></p>
<p class="listing-description">Description: <%= @listing.description %></p>
<p class="listing-price">Cost per day: $<%= @listing.price %></p>

<p class="listing-reservations">Number of pending reservations: <%= @listing.reservations.length %></p>

<% if current_user.id == @listing.lender.id %>
    <p><%= link_to "Edit", edit_listing_path %> OR <%= button_to "Delete", @listing, method: "delete", data: {confirm: "Are you sure???"} %></p>
    <p><%= link_to "Back to All Listings", listings_path %></p>
<% end %>
<hr>
<% if @listing.reservations.length > 0 %>
    <h4 class="reservation-details">Reservation Details:</h4>
        <% @listing.reservations.each do |r| %>
            <p class="listing-borrower"><strong>Made on:</strong> <%= r.created_at.try(:strftime, "%A, %d %b %Y %l:%M %p") %>. <strong>Status:</strong> <%= r.status %>.</p>
            <p class="listing-borrower"><strong>Interested Party:</strong> <%= r.borrower.first_name %>, <%= r.borrower.last_name %>.</p>
            <p class="listing-borrower"><strong>Dates requested:</strong> From <%= r.check_in.strftime("%A, %B %e, %Y") %> to <%= r.check_out.strftime("%A, %B %e, %Y") %>. <strong>Duration:</strong> <%= r.duration %> day(s).</p>
            <p class="listing-borrower"><strong>Address:</strong> <%= r.borrower.street %>, <%= r.borrower.city %>, <%= r.borrower.state %>, <%= r.borrower.zipcode %></p>
            <p class="listing-borrower"><strong>Email:</strong> <%= mail_to r.borrower.email %></p>
            <p class="listing-borrower"><strong>Total cost to the borrower:</strong> $<%= r.total_price %></p>
            
            <% if current_user.id == @listing.lender.id %>
                <%= form_with(url: '/confirm_reservation') do |f| %>
                    <%= hidden_field :reservation_id, r.id %>
                    <%= f.submit format_button(r) %></h4>
                <% end %> 
            <% end %>
        <% end %>
<% else %>
    <p class="reservation-details">This listing is fully available to rent.</p>
<% end %>
<hr>

<%= form_with(model: [@listing, @listing.reservations.build]) do |f| %>
        <div class="form-input">
            <%= f.label :pick_up_date %>
            <%= f.date_field :check_in %>
        </div>
        <div class="form-input">
            <%= f.label :return_date %>
            <%= f.date_field :check_out %>
        </div>
        <%= f.submit "Reserve this Tool" %></h4>
<% end %><br>

<%= link_to "Check out all listed tools", listings_path %>