<!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="mt-6 text-2xl leading-6 font-medium text-gray-900">
      <%= current_user.full_name %>'s Dashboard
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      Please review and update your contact information to ensure other users can get in touch with you.
    </p>
  </div>
      <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">
          Email: <p class="text-sm font-medium text-blue-700"><%= current_user.email %> </p>
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          Address: <p class="text-sm font-medium text-blue-700"><%= current_user.full_address if current_user.street %></p>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">
          Additional Contact Information:
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= current_user.contact_info %>
        </dd>
      </div>
    </dl>
    <div class="flex space-x-3 mb-4 text-sm font-medium">
        <div class="flex-auto flex space-x-3">
          <%= link_to "Edit Profile", edit_user_path, :class => "w-1/4 flex items-center justify-center rounded-md bg-green-300 border border-solid border-green-300" %>
          <%= link_to "Delete Profile", user_path, method:"DELETE", data: {confirm: "Are you sure???"}, :class => "w-1/4 flex items-center justify-center rounded-md bg-red-300 border border-solid border-red-300" %>
          <%= button_to "Delete", @user, method: "delete", data: {confirm: "Are you sure???"} %></p>
        </div>
        
    </div>
    <div class="my-3">
        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-4">
            <li class="bg-gray-100 border-solid hover:shadow-lg flex rounded-lg ">
                <a href="/listings/new" class="hover:border-gray-200 hover:shadow-xs w-full flex items-center justify-center rounded-lg border-2 border-gray-200 text-sm font-medium py-4">
                    Create a New Listing
                </a>
            </li> 
        </ul>
    </div>
<hr>

        
        
    <div class="mt-6 ml-3 text-lg leading-6 font-medium text-gray-900">
      <h3>Listings That Need Your Immediate Attention:</h3>
    </div>
      <p class="ml-3 max-w-2xl text-sm text-gray-500">Please review and confirm the reservation, or contact the person interested in borrowing your tool.</p> 
    <%= display_list_conditionally(reservations_pending_approval) %>
    <hr>

    <div >
        <section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
            <svg width="20" height="20" fill="currentColor" class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
            </svg>
            <input class="focus:border-light-blue-500 focus:ring-1 focus:ring-light-blue-500 focus:outline-none w-full text-sm text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-10" type="text" aria-label="Filter projects" placeholder="Filter your listings" />
        </section>
    </div>

    <div class="mt-6 ml-3 text-lg leading-6 font-medium text-gray-900">
      <h3>All Your Current Listings:</h3>
    </div>
    <p class="ml-3 max-w-2xl text-sm text-gray-500">Below is a list of all tools you have listed:</p> 
    <%= display_list_conditionally(current_user.open_listings) %>
    <hr>
    
  </div>
</div>
