<h1><%= current_user.first_name %>'s Dashboard</h1>
<h4><%= link_to "Create a New Listing", new_listing_path %></h4>
<h2>Your Contact Information</h2>
<p>Please review and update if necessary. This is the information other users will use to get in touch with you.</p> 

<h4>Full Name: <%= current_user.first_name %> <%= current_user.last_name %></h4>
<h4>Email: <%= current_user.email %></h4>
<h4>Address: <%= current_user.street %>, <%= current_user.city %>, <%= current_user.state %>, <%= current_user.zipcode %></h4>
<h4>Additional Contact Information: <%= current_user.contact_info %></h4>

<%= link_to "Edit Profile", edit_user_path %>
<%= button_to "Log out", logout_path %>
<hr>

<h2>Listings That Need Your Immediate Attention:</h2>
<p>Please review and confirm the reservation, or contact the person interested in borrowing your tool.</p> 
<%= display_list_conditionally(reservations_pending_approval) %>
<hr>

<h2>All Your Current Listings:</h2>
<p>Please review and confirm the reservation, or contact the person interested in borrowing your tool.</p> 
<%= display_list_conditionally(current_user.open_listings) %>
<hr>

